.siwe-login-page {
  .d-header {
    background-color: var(--secondary);
    box-shadow: none;
    .wrap {
      width: auto;
    }
  }

  .discourse-root {
    min-height: 100dvh;
  }

  .main-outlet-wrapper {
    height: calc(100dvh - var(--header-offset));
  }

  .powered-by-discourse {
    display: none;
  }
}

.siwe-mount {
  background-color: var(--secondary);
  max-width: 24rem;
  margin-inline: auto;
  scrollbar-gutter: auto;
  min-height: calc(100dvh - 10rem);
  display: grid;
  align-items: center;
}

.siwe-identity-selector {
  .identity-option {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 0.5rem 0;
  }

  .identity-name {
    font-weight: 700;
  }

  .identity-source {
    color: var(--primary-medium);
    font-size: var(--font-down-1);
  }

  .identity-preview {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    object-fit: cover;
  }
}
